/* CSS styles for the Extra Comment Fields admin pages */

bronze_background = #cd7f32
bronze_border = #663d14
silver_background = silver
silver_border = #737373
gold_background = #cba135
gold_border = #664f14
platinum_background = #e5e4e2
platinum_border = #999897
unavailable_background = hsl(210, 0%, 40%)
unavailable_border = hsl(210, 0%, 40%)

colors(bg, bdr)
  background-color bg
  border-color bdr

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

.ecf-admin-wrapper
  max-width 950px

.ecf-save-changes
  float right

img.ecf-image
  max-width 400px
  max-height 600px

.default_placeholder
  padding-left 0.3em
  padding-right 0.3em
  border 1px solid black
  border-radius 3px
  font-weight bold
  background-color hsl(0,0%,80%)

.unavailable
  margin-top 0.5em
  padding-left 0.4em
  padding-right 0.4em
  width 100%
  border-radius 4px
  border 1px solid unavailable_border
  background-color unavailable_background
  &.ecf-edition-bronze
    colors bronze_background bronze_border
  &.ecf-edition-silver
    colors silver_background silver_border
  &.ecf-edition-gold
    colors gold_background gold_border
  &.ecf-edition-platinum
    colors platinum_background platinum_border
  .edition
    font-weight bold

input[type="text"][disabled]
  background-color hsl(0, 0%, 82%)

table.widefat
  .ecf-admin-button.button-primary
      float right
  .ecf-admin-field-actions
      float right
      padding-right 1em
  th.strong
    color #4a4a4a
  tr.editing
    background-color rgba(55,55,55,0.2)

.ecf-admin-header
  padding 0.7em 1em !important
  div
    clear none
    line-height 1.9em
    width 25em
    display inline-block
  .property-label
    font-size 10.2pt
    color hsl(55, 5%, 50%)
    font-style italic
    margin-right 0.7em
  a
    margin-right 0.7em
  .links
    width 100%
