.ecf-admin-wrapper{max-width:950px}
.ecf-save-changes{float:right}
img.ecf-image{max-width:400px;max-height:600px}
.default_placeholder{padding-left:.3em;padding-right:.3em;border:1px solid #000;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;font-weight:bold;background-color:#ccc}
.unavailable{margin-top:.5em;padding-left:.4em;padding-right:.4em;width:100%;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border:1px solid #666;background-color:#666;}
.unavailable.ecf-edition-bronze{background-color:#cd7f32;border-color:#663d14}
.unavailable.ecf-edition-silver{background-color:#c0c0c0;border-color:#737373}
.unavailable.ecf-edition-gold{background-color:#cba135;border-color:#664f14}
.unavailable.ecf-edition-platinum{background-color:#e5e4e2;border-color:#999897}
.unavailable .edition{font-weight:bold}
input[type="text"][disabled]{background-color:#d1d1d1}
table.widefat .ecf-admin-button.button-primary{float:right}
table.widefat .ecf-admin-field-actions{float:right;padding-right:1em}
table.widefat th.strong{color:#4a4a4a}
table.widefat tr.editing{background-color:rgba(55,55,55,0.2)}
.ecf-admin-header{padding:.7em 1em !important;}
.ecf-admin-header div{clear:none;line-height:1.9em;width:25em;display:inline-block}
.ecf-admin-header .property-label{font-size:10.2pt;color:#868579;font-style:italic;margin-right:.7em}
.ecf-admin-header a{margin-right:.7em}
.ecf-admin-header .links{width:100%}
