/*! CSS styles added by the Extra Comment Fields plugin */

image_float_padding = 0.7em

test-box(col)
  border: 2px solid col

.ecf-field
  &.ecf-image-position-float-right-top, &.ecf-image-position-float-left-top
    // test-box: red
    display: inline-block
  &.ecf-image-position-float-left-top
    float: left
    margin: image_float_padding image_float_padding 0em 0em
  &.ecf-image-position-float-right-top
    float: right
    margin: 0em 0em image_float_padding image_float_padding
  &.ecf-image-position-right-center, &.ecf-image-position-left-center
    // test-box: blue
    display: table-cell
    vertical-align: middle
.ecf-comment-sidepane
  // test-box: green
  height: 30em
  display: table
  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden
.ecf-comment-sidepane-left
  margin-right: image_float_padding
  float: left
.ecf-comment-sidepane-right
  margin-left: image_float_padding
  float: right

