/* CSS styles added by the Extra Comment Fields plugin */
.ecf-field.ecf-image-position-float-right-top,.ecf-field.ecf-image-position-float-left-top{display:inline-block}
.ecf-field.ecf-image-position-float-left-top{float:left;margin:.7em .7em 0 0}
.ecf-field.ecf-image-position-float-right-top{float:right;margin:0 0 .7em .7em}
.ecf-field.ecf-image-position-right-center,.ecf-field.ecf-image-position-left-center{display:table-cell;vertical-align:middle}
.ecf-comment-sidepane{height:30em;display:table;}
.ecf-comment-sidepane:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.ecf-comment-sidepane-left{margin-right:.7em;float:left}
.ecf-comment-sidepane-right{margin-left:.7em;float:right}
